*{
    margin: 0;
    padding: 0;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    text-align: center;
   
}
.tableconatiner
{
    width: 70%;
    margin-top: 3%;
}
#actionsbutton
{
   display: flex;
   justify-content: space-evenly;
}

#button
{
    background-color: rgb(49, 117, 49);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    height: 35px;
    width: 80px;
    
    border-radius:0px 5px 5px 0px;

}
input
{
    padding: 0px 5px 0px 5px;
    height: 35px;
}
#editcontainer
{
   position: absolute;
   top: 25%;
   left: 25%;
}
#editbutton
{
    outline: none;
    border: none;
    background-color: rgb(95, 95, 17);
    height: 35px;
    color: white;
}
